ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

.square {
    object-fit: cover;
    width:200px;
    height:200px
}

.box {
    color: black;        
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: lightskyblue;
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
}

.flex-container2 > div {
    background-color: lightskyblue;
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
} 

.flex-container3 {
    display: flex;
    flex-wrap: wrap;
}

.flex-container3 > div {
    padding-right: 3px;
} 

.flex-container3 > a {
    padding-right: 3px;
} 

.flex-container-choices {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-choices > div {
    background-color: lightskyblue;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
} 

.wrapper { 
	width: 200px; 
	height: 200px; 
	position: relative; 
    justify-content: center;
    align-items: center;
} 
 
.wrapper img { 
	width: 100%; 
	height: 100%; 
    justify-content: center;
    align-items: center;
} 
 
.wrapper a { 
	width: 100%; 
	height: 100%; 
    justify-content: center;
    align-items: center;
}

.wrapper button { 
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:black;
    color: white;
    font-size: 16px;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Compact GLightbox captions */
.glightbox-container .gdesc-inner {
  background-color: black !important;
  color: white !important;
  padding: 4px 8px !important; /* smaller padding */
}

/* Ensure title is white and has no extra margin */
.glightbox-container .gslide-title {
  font-size: 14px !important;
  margin: 0 !important;
  line-height: 1.2 !important;
  color: white !important;
}

/* Make description match */
.glightbox-container .gslide-desc {
  color: white !important;
}

/* Force GLightbox background to solid black */
.glightbox-container {
    background: #000 !important;
}

.glightbox-overlay {
    background: #000 !important;
}
