* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    background: #1abc9c;
  }

  .homebutton {
    float:left;
    padding: 5px;
    margin: 5px;
    background: green;
  }

  .h1text {
    padding: 20px;
    text-align: center;
    color: white;
  }
  
/* Banner */
.banner {
  padding: 5px;
  text-align: center;
  background: lightblue;
  color: darkred;
}

.footer {
    padding: 5px;
    margin: 10px;
    text-align: center;
    background: white;
    color: gray;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .side > div {
      background-color: lightskyblue;
      text-align: center;
      margin: 5px;
      padding: 15px;
      font-weight: bold;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  .main > div {
      background-color: lightseagreen;
      text-align: center;
      margin: 5px;
      padding: 10px;
      font-weight: bold;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  